<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<script src="scripts/jquery.js"></script>
<script src="scripts/underscore.js"></script>
<script src="scripts/vue.js"></script>
<link rel="stylesheet" href="styles/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="styles/bootstrap-grid.css" /> -->
<!-- <script src="scripts/bootstrap.min.js"></script> -->

<div id="poll-worker-setup" class="container">
    <div class="mt-2 mb-1 row mx-auto">
        <div class="alert-warning p-3" role="alert">
            <h4 class="alert-heading">Setting up device for elector</h4>
            <p>Choose the elector's riding, and click next.</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-10 push-1">
            Choose the elector's riding:
            <select class="form-control-lg form-control" v-model="selected_riding">
                <option disabled value="">Please select one</option>
                <option v-for="riding in ridings">{{ riding }}</option>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <button type="button" class="float-right btn btn-lg btn-primary" v-on:click="setup">
                Next &rarr;
            </button>
        </div>
    </div>
</div>

<div id="intro-screen" class="container hidden-lg-down">
    <div class="mt-2 mb-1 row mx-auto">
        <div class="alert-info p-3" role="alert">
            <h4 class="alert-heading">You are voting in the 2016 General Election</h4>
            <p>You are voting in the <strong>{{ riding }}</strong> riding. If this is incorrect, please see a poll worker.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            You may vote in the following races:
            <ul>
                <li v-for="(candidates, race) in races">{{ race }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button aria-label="Proceed to the first race ballot" type="button" class="float-right btn btn-lg btn-success" v-on:click="setup">
                &rarr;
            </button>
        </div>
    </div>
</div>

<div id="voting-and-confirmation" class="container hidden-lg-down">
    <div v-if="all_races_voted()">
        <div class="mt-2 mb-1 row mx-auto">
            <div class="alert-info p-3" role="alert">
                <h4 class="alert-heading">You are voting in the 2016 General Election</h4>
                <p>Please review your choices. If you wish to start over, click 'Start Over'. If your choices are correct, click 'Next'.</p>
            </div>
        </div>


        <div class="row mx-auto">
            <ul>
                <li v-for="(person, post) in voted_races"><strong>{{ post }}</strong>: <span v-if="person">{{ person }}</span><span v-else><emph>(declined)</emph></span> </li>
            </ul>
        </div>


        <div class="row">
            <div class="col-12">
                <button type="button" aria-label="Start Over" class="float-left btn btn-lg btn-danger" v-on:click="clear">
                    &larr;
                </button>
                <button type="button" aria-label="Confirm Choices" class="float-right btn btn-lg btn-success" v-on:click="confirmChoices">
                    &rarr;
                </button>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="mt-2 mb-1 row mx-auto">
            <div class="alert-info p-3" role="alert">
                <h4 class="alert-heading">You are voting in the 2016 General Election</h4>
                <p>You are currently voting for <strong>{{ current_race() }}</strong>.</p>
                <p>You can choose one candidate from the list, or write in your own candidate.</p>
            </div>
        </div>

        <div class="row mx-auto">
            <form style="font-size: 200%">
                <div class="form-check" v-for="c in current_candidates()">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="candidate" :value="c" v-model="selected_candidate">
                        {{ c }}
                    </label>
                </div>
                <label for="writeincandidate" class="col-sm-2 col-form-label">Write-in candidate</label>
                <input type="text" class="form-control" id="writeincandidate" name="candidate" v-model="selected_candidate">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="candidate" v-model="selected_candidate">
                        Decline this ballot
                    </label>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-12 " v-if="has_data">
                <button type="button" aria-label="Start Over" class="float-left btn btn-lg btn-danger" v-on:click="clear">
                    &larr;
                </button>
                <button type="button" aria-label="Go to Next Race" class="float-right btn btn-lg btn-success" v-on:click="setup">
                    &rarr;
                </button>
            </div>
        </div>
    </div>
</div>

<div id="csat-screen" class="container hidden-lg-down">
    <div class="mt-2 mb-1 row mx-auto">
        <div class="alert-success p-3" role="alert">
            <h4 class="alert-heading">You have voted in the 2016 General Election!</h4>
            <p>Please return this device to the election worker.</p>
        </div>
    </div>

    <div class="row mx-auto">
        <form>
            <div class="form-group">
                <label for="election-experience-btn">How was your election experience?</label>
                <div id="election-experience-btn" class="align-items-center btn-group btn-group-lg" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-lg">🙁</button>
                    <button type="button" class="btn btn-default btn-lg">😐</button>
                    <button type="button" class="btn btn-default btn-lg">🙂</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mx-auto">
         <button type="button" class="btn btn-lg btn-outline-danger" v-on:click="window.location.reload()">Poll Worker Reset</button>
    </div>
</div>


<script>
    var PollWorkerSetup = new Vue({
    el: "#poll-worker-setup",
    data: {
        selected_riding: "",
        ridings: ["Riding 1", "Scranton/Wilkes-Barre", "Kitchener-Central", "Waterloo-North"],
        riding_race_candidates: {
            "Riding 1": {
                "Mayor": ["Candidate A", "Candidate B"],
                "Education Board": ["John Smith", "Jane Doe"],
            },
            "Scranton/Wilkes-Barre": {
                "Regional Manager": ["Michael Scott"],
                "Assistant to the Regional Manager": ["Dwight Schrute", "Andy Barnard"]
            },
            "Kitchener-Central": {
                "President": ["Candidate A", "Candidate B"]
            },
            "Waterloo-North": {
                "Member of Provincial Parliament": ["Alpha Alpha", "Bravo Bravo", "Charlie Charlie"]
            }
        }
    },
    methods: {
        setup: function () {
            if (!this.$data.selected_riding) {
                return;
            }

            var IntroScreen = new Vue({
                el: "#intro-screen",
                data: {
                    riding: this.$data.selected_riding,
                    races: PollWorkerSetup.$data["riding_race_candidates"][this.$data.selected_riding],
                    votingScreen: null,
                },
                methods: {
                    setup: function () {
                        if (this.votingScreen) {
                            $(this.votingScreen.$el).removeClass("hidden-lg-down");
                            $(IntroScreen.$el).addClass("hidden-lg-down");
                            return
                        }
                        this.votingScreen = new Vue({
                            el: "#voting-and-confirmation",
                            data: {
                                races: IntroScreen.$data["races"],
                                voted_races: {},
                                selected_candidate: "",
                                confirm: ""
                            },
                            methods: {
                                clear: function() {
                                    this.$data.voted_races = {};
                                    $(IntroScreen.$el).removeClass("hidden-lg-down");
                                    $(this.$el).addClass("hidden-lg-down");
                                },
                                setup: function() {
                                    this.$data.voted_races[this.current_race()] = this.$data["selected_candidate"];
                                    this.$data["selected_candidate"] = "";

                                    this.$forceUpdate();
                                },
                                confirmChoices: function() {
                                    if (this.all_races_voted()) {
                                        var CsatScreen = new Vue({
                                            el: "#csat-screen",
                                            data: {
                                                window: document
                                            }
                                        });
                                        $(CsatScreen.$el).removeClass("hidden-lg-down");
                                        $(this.$el).addClass("hidden-lg-down");
                                    }
                                },
                                has_data: function() {
                                    console.log(Object.keys(this.$data.voted_races).length)
                                    return Object.keys(this.$data.voted_races).length > 0;
                                },
                                all_races_voted: function() {
                                    return Object.keys(this.$data.voted_races).length === Object.keys(this.$data.races).length;
                                },
                                current_race: function() {
                                    return _.first(_.difference(Object.keys(this.$data.races), Object.keys(this.$data.voted_races)));
                                },
                                current_candidates: function() {
                                    return this.$data.races[this.current_race()];
                                }
                            }
                        });
                        $(this.votingScreen.$el).removeClass("hidden-lg-down");
                        $(IntroScreen.$el).addClass("hidden-lg-down");
                    }
                }
            });
            $(PollWorkerSetup.$el).addClass("hidden-lg-down");
            $(IntroScreen.$el).removeClass("hidden-lg-down");
        }
    }
});



</script>